<table id="products">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
    <tr *ngFor="let product of product">
      <td>{{product.id}} </td>
      <td>{{product.name}} </td>
      <td>{{product.price}} € </td>
      <td>
        <a routerLink="/product-update/{{product.id}}" class="edit">
          <i class="material-icons edit">edit</i>
        </a> 
        <a routerLink="/product-delete/{{product.id}}" class="delete">
          <i class="material-icons delete">delete</i>
        </a>
      </td>
    </tr>
</table>

  